<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> {% load static %}
    <link rel="stylesheet" href="{% static 'business_app\style.css' %}">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <title>Add A New Business</title>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/search">Kelp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02"
            aria-expanded="false" aria-label="Toggle navigation" style="">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/search">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/display/admin">Admin Console</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="new_bus">Add A Business</a>
                </li>
            </ul>
            <div class="logreg">
                <a class="login" href="/login">
                    <b>Login</b>
                </a> |
                <a class="button" href="/login">Register</a>
                <img src="{% static 'search_app\images\kelplogo_logo_only.png' %}">
            </div>
            <a class="anchor_tag" href="#">Logout</a>
        </div>
    </nav>
    <div id="add_bus_form">
        <form action="add_bus" method="POST">
            {% csrf_token %}
            <input class="form_adjust" type="text" name="bus_name" placeholder="Business Name">
            <input class="form_adjust" type="text" name="bus_address" placeholder="Business Address">
            <input class="form_adjust" type="text" name="description" placeholder="Business Description">
            <select class="form_adjust" name="bus_city">
                <option value="Atlantis">Atlantis</option>
                <option value="Dead Sea">Dead Sea</option>
                <option value="Mariana">Mariana Trench</option>
            </select>
            <select class="form_adjust" name="bus_category">
                <option value="Restaurants">Restaurants</option>
                <option value="Shopping">Shopping</option>
                <option value="Entertainment">Entertainment</option>
            </select>
            <input class="form_adjust" type="submit" value="Create New Business">
            {% if messages %}
            <ul class="messages">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        </form>


    </div>

    <div id="footer">
        <p>Not Copyright 2017. Kelp name and all related marks are not registed trademarks of Kelp. NEE (Non Existent Entity)</p>
    </div>
</body>

</html>