<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> {% load static %}

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

    <!-- Style.css -->
    <link rel="stylesheet" href="{% static '/business_app/style.css' %}">
    <title>Businesses</title>
</head>

<body>
    <div id="wrapper2">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark " id="header">
            <a class="navbar-brand" href="/search">Kelp</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02"
                aria-expanded="false" aria-label="Toggle navigation" style="">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/search">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/display/admin">Admin Console</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="new_bus">Add A Business</a>
                    </li>
                </ul>
                <div class="logreg">
                    <a class="login" href="/login">
                        <b>Login</b>
                    </a> |
                    <a class="button" href="/login">Register</a>
                    <img src="{% static 'search_app\images\seal_logo2_white.png' %}">
                    <a class="anchor_tag" href="/userlogout">Logout</a>
                </div>
            </div>
        </nav>

        <div id="review_form">
            <h3>Write a review for {{ business_key.bus_name }}</h3>
            <form action="/display/add_review/{{ business_key.id }}" method="POST">
                {% csrf_token %}
                <textarea name="review_text" cols="30" rows="10" placeholder="Write Your Review Here!"></textarea>
                <input type="number" name="rating" placeholder="Rate from 1-5">
                <input class="submit_seal" type="image" src="{% static 'search_app\images\seal_logo2_white.png' %}" alt="Submit" >
            </form>
        </div>
        {% if messages %}
        <ul class="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    </div>

    <div id="footer">
        <p>Not Copyright 2017. Kelp name and all related marks are not registed trademarks of Kelp. NEE (Non Existent Entity)</p>
    </div>
</body>

</html>