body {
    /* background-image: url("https://i.imgur.com/KYhHpzJ.jpg"); */
    background-image: url("http://qiniuimg.qingmang.mobi/image/orion/d764040fb875fd1678dc68b0440b54b2_1080_720.jpeg");
    background-size: cover;
    color: white;
}

.wrapper {
    width: 100%;
}

.ib {
    display: inline-block;
}

.form-group {
    margin: auto;
    width: 50%;
}

#kelp{
    width: 20%;
    background-color: rgba(255, 255, 255, 0.692);
    border: 2px solid #182A53;
    border-radius: 10px;
    margin: auto;
    vertical-align: middle;
}

.seal {
    width: 200px;
    vertical-align: middle;
    margin-left: -125px;
}

.seal2 {
    width: 200px;
}

.center {
    margin: auto;
    text-align: center;
    margin:15px 0px 0px 0px;
}

.login {
    color: rgb(51, 102, 27);
}

label {
    font-size: 1.2em;
    text-shadow: 1px 1px #400B6E;
}

/* Added the color to h1 that is same color as bg of post section */
h1 {
    display: inline-block;
    color: rgb(51, 102, 27);
    font-family: 'Arvo';
    text-shadow: 2px 2px #43400e;
    font-size: 4em;
}

.logreg {
    margin-left: 90%;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.692);
    border: 2px solid #182A53;
    border-radius: 10px;
    width: 9%;
    text-align: center;
}

.logreg > img{
    width: 100px;
    vertical-align: middle;
}

.logreg > a { 
    text-decoration: none;
    text-decoration-line: none;
}


.button {
    text-align: center;
    border-radius: 5px;
    background-color: rgb(51, 102, 27);
    color: white;
    padding: 3px;
    text-decoration: none;
}

